<!DOCTYPE html>
<html>
    <head>
      <link href="/img/weather.png" rel='icon'>
        
        <title>About</title>
        <link rel='stylesheet' href='/css/style.css'>
        </head>
<body>
    <div class='main-content'>
 {{>header}}
 <img src='/img/lokesh.jpg' class='portrait'>
    </div>
   
     
        {{>footer}}
</body>
</html>