<!DOCTYPE html>
<html>
    <head>
      <link href="/img/weather.png" rel='icon'>

        <title>Help</title>
        <link rel='stylesheet' href='/css/style.css'>
        </head>
<body>
    <div class='main-content'> 
 {{>header}}
</div>
   
 
        {{>footer}}
</body>
</html>